<div class="row">
  <div class="col-12" *ngIf="article">
    <div class="article">
      <div class="header">
        <a routerLink="/article/{{article.reference}}">
          <div class="title">{{article.title}}</div>
        </a>
        <div class="row">
          <div class="col-sm-2">
            <div class="created">
              <span class="fas fa-clock"></span>{{article.createdOn | date:'d MMMM, yyyy'}}
            </div>
          </div>
          <div class="col">
            <div class="labels">
              <span class="fas fa-tags"></span>
              <span *ngIf="article.tags?.length > 0">
                <span *ngFor="let tag of article.tags; let isLast=last">
                  <a routerLink="/tag/{{tag | urlEncode}}">{{tag}}</a>{{isLast ? '' : ', '}}
                </span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        {{article.content}}
      </div>
    </div>
  </div>
</div>