<div class="row">
  <div class="col-12" *ngIf="article">
    <div class="article">
      <div class="header">
        <a routerLink="/article/{{article.reference}}">
          <div class="title">{{article.title}}</div>
        </a>
        <div class="row">
          <div class="col-sm-2">
            <div class="created">
              <span class="fas fa-clock"></span>{{article.createdOn | date:'d MMMM, yyyy'}}
            </div>
          </div>
          <div class="col">
            <div class="labels">
              <span class="fas fa-tags"></span>
              <span *ngIf="article.tags?.length > 0;else no_tags">
                <span *ngFor="let tag of article.tags; let isLast=last">
                  <a routerLink="/tag/{{tag | urlEncode}}">{{tag}}</a>{{isLast ? '' : ', '}}
                </span>
              </span>
              <ng-template #no_tags>-</ng-template>
            </div>
          </div>
        </div>
      </div>
      <div class="content">
        <div *ngFor="let snippet of article.snippets" [ngSwitch]="snippet.type">
          <div *ngSwitchCase="'text'">{{snippet.value}}</div>
          <div *ngSwitchCase="'code'">
            <prism language="{{snippet.language}}">{{snippet.value}}</prism>
          </div>
          <div *ngSwitchCase="'image'">
            <img src="{{snippet.value}}" alt="{{snippet.value}}">
          </div>
        </div>
      </div>
      <div class="references" *ngIf="article.references.length > 0">
        <div class="reference-header">References</div>
        <ul>
          <li *ngFor="let reference of article.references">
            <a href="{{reference}}" target="_blank">{{reference}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>