@import '~@angular/material/theming';

@include mat-core();

@import 'styles-theme.scss';

body {
    @include angular-material-theme($my-theme);
}

body, html {
    background-color: #FAFAFA;
    color: #525654;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

.mat-grid-tile .mat-figure {
    display: initial !important;
}